div [class=%(alert #{bootstrap_class_for(type)} alert-dismissible fade show)  role="alert"]
  button [type="button" class="close" data-dismiss="alert" data-aria-label="Close"]
    span [aria-hidden="true"] &times;
  .text
    = content
