nav class="navbar navbar-expand-lg navbar-light bg-light"
  = link_to 'City Events', root_path, class: 'navbar-brand'
  button [
  class="navbar-toggler"
  type="button"
  data-toggle="collapse"
  data-target="#navbarSupportedContent"
  aria-controls="navbarSupportedContent"
  aria-expanded="false"
  aria-label="Toggle navigation"]
    span class="navbar-toggler-icon"


  .collapse.navbar-collapse id="navbarSupportedContent"
    ul.navbar-nav.mr-auto
      - if user_signed_in?
        li class=(['nav-item', current_page?('/events/new') ? 'active' : ''])
          = link_to 'Cоздать Событие', new_event_path, class: 'nav-link'

      li class=(['nav-item', current_page?('/events/search') ? 'active' : ''])
        = link_to 'Поиск Событий', search_events_path, class: 'nav-link'
      li class="nav-item dropdown"
        a [class="nav-link dropdown-toggle"
          href="#" id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"]   Действия пользователя
        .dropdown-menu aria-labelledby="navbarDropdown"
          - unless  user_signed_in?
            = link_to 'Регистрация', new_user_registration_path, class: 'dropdown-item'
            = link_to 'Войти', new_user_session_path, class: 'dropdown-item'
          - else
            = link_to 'Выйти', destroy_user_session_path, method: :delete, class: 'dropdown_item'
