= simple_form_for event do |f|
  = f.input :title, lable: 'Название события',
          error: 'Должно быть заполнено'
  = f.input :city, label: 'Город',
          error: 'Должно быть заполнено'
  = f.input :place, label: 'Место проведения',
          hint: 'Если оставить пустым, то событие считается обшегородским'
  = f.input :date_start,  html5: true, label: 'Дата начала',
          input_html: { id: 'event_date_start' }
  = f.input :date_end,as: :datetime, html5: true, label: 'Дата завершения',
          input_html: { id: 'event_date_end' }
  = f.input :theme_list, label: 'Темы события',
          input_html: { value: event.theme_list.to_s }
  = f.input :creator_id, as: :hidden,
          input_html: { value: event.creator_id }
  = f.button :submit


