form#event_form

  .form-group
    label Имя города
    input [type="text"
    class="form-control"
    id="city"
    aria-describedby="emailHelp"
    placeholder="Введите город"
    value=(get_value_safe(@setting, 'city') ) ]

  .form-group
    label Интересующие темы
    input [type="text"
    class="form-control"
    id="theme_list"
    aria-describedby="emailHelp"
    placeholder="Введите тему или несолько тем через запятую"
    value=(get_value_safe(@setting, 'theme_list')) ]

  .form-group
    label Дата начала события, не ранее
    #event_date_start_min.input-group.date data-target-input="nearest"
      input.form-control.datetimepicker-input data-target="#event_date_start_min" type="text"  /
      .input-group-append data-target="#event_date_start_min" data-toggle="datetimepicker" value=get_value_safe(@setting, 'date_start_min')
        .input-group-text
          i.fa.fa-calendar
      - if @setting.present?
        input [type="hidden" id="event_date_start_min_value"  value=get_value_safe(@setting, 'date_start_min') ]

  .form-group
    label Дата начала события, не позднее
    #event_date_start_max.input-group.date data-target-input="nearest"
      input.form-control.datetimepicker-input data-target="#event_date_start_max" type="text"  /
      .input-group-append data-target="#event_date_start_max" data-toggle="datetimepicker" value=get_value_safe(@setting, 'date_start_max')
        .input-group-text
          i.fa.fa-calendar
      - if @setting.present?
        input [type="hidden" id="event_date_start_max_value" value=get_value_safe(@setting, 'date_start_max') ]

  - if current_user
    .form-check.mb-3
      input [type="checkbox" class="form-check-input" id="save_preferences"]
        label.form-check-label Сохранить настройки поиска?
      input (type='hidden' value="#{current_user.id}" id="current_user_id" )

  button#event_search_submit [type="submit" class="btn btn-primary" ] Искать

.row#result_row

