doctype html
html
  head
    title CityOfEvents
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'


  body

    = render 'partials/navbar'

    - flash.each do |type, content|
      = render 'partials/flash', type: type, content: content

    .container
      = yield
